body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    height: 100vh;
    margin: 0;
    position: relative; 
}

h1 {
    margin: 20px 0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    font-size: 2rem;
    cursor: pointer;
}

.cell:hover {
    background-color: lightgray;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
}

.mute-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
}

.mute-button i {
    transition: color 0.3s;
}

.mute-button.muted i {
    color: red; 
}

.winner {
    background-color: red !important; 
    color: white; 
}
